html{
  background-image: url("../img/page2bg.jpg");
  background-repeat: no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clearfix{
  clear: both;
}
.headpic{
  width: 100%;
  box-shadow: 0px 34px 41px blue;
}
nav{
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.hidden_nav{
  position: fixed;
  top: 0px;
  right: 258px;
  display: none;
  background-color: black;
  border: 1px solid black;
  border-radius: 25px;
  line-height: 2px;
  width: 50%;

  z-index: 999999999999999;
}
.burger_nav{
  position: fixed;
  top: 98px;
  right: 343px;
  display: none;
  background-color: black;
  border: 1px solid black;
  border-radius: 25px;
  line-height: 2px;
  width: 35%;

  z-index: 999999999999999;
}

.hidden_ul{
  margin-left: 68px;
}

li{
  display: inline-block;
  font-size: 25px;
  margin: 20px;
}

a{
  text-decoration: none;
  color: orange;
}

p{
  font-size: 18px;
}

.link{
  top: -14px;
  position: relative;
}

.link_burger{
  font-size: 12px;
}

a.link:hover{
  border-bottom: 3px  solid #4d4dff ;
  border-top: 3px  solid #4d4dff ;
  transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
}
a.link_hidden:hover{
  border-bottom: 3px solid #4d4dff;
  transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
}
a.footer_link:hover{
    border-bottom: 3px  solid #4d4dff ;
  border-top: 3px  solid #4d4dff ;
  transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
}

#hamburger{
  color: red;
  position: absolute;
}

.content{
  width: 90%;
  height: auto;
  margin-left: 50px;
  margin-bottom: 30px;
  overflow: hidden;
}

.more_content{
  width: 90%;
  height: 650px;
}

.content_title{
  text-align: center;
  color: orange;
  border-bottom: solid #4d4dff 5px;
  font-size: 25px;
  width: 40%;

}

.content_text{
  color: #8a8a8a;
   width: 40%;
   height: 400px;
   float: left;
   overflow-y: auto;
}

.products_title{
  text-align: center;
  color: orange;
  border-bottom: solid #4d4dff 5px;
  font-size: 25px;
}

.products{
  outline: red solid 1px;
  width: 50%;
  height: 400px;
  float: left;
  margin-left: 20px;
}

.productsP{
  color: orange;
  text-align: center;
  font-size: 25px;
}

.stuff{
  width:19%;
  height: 175px;
  outline: 1px red solid;
  display: inline-block;
  margin-left: 5%;
  margin-top: 40px;
}

footer{
  border-top: 2px solid grey;
  width: 100%;
  height: auto;
  float: left;
}

.footer_div{
  display: inline;
  width: 30%;
  height: 73%;
  float: left;
  margin: 15px;
  color: orange;
}

.footer_p{
  text-align: center;
  color: orange;
}

.footerdiv_1{
  text-align: center;
  margin-top: 35px;
}


.footer_img_clear{
  clear:both;
  display: inline;
  width: 30%;
  height: 73%;
  float: left;
  margin: 15px;
}




