.clear{
  clear: both;
}

/*custom media query hides links on mobile*/
@media screen and (max-width: 600px) {
  .nav_item {
    display: none!important;
  }
}

@media screen and (max-width: 600px) {
  div.hamburger_btn {
    visibility: visible;

  }
}

@media screen and (max-width: 600px) {
  .burger_nav {
    visibility: visible!important;
  }
}



nav{
  position: relative;
  height: 150px;
  margin-top: 25px;
}

.hamburger_btn{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.burger_nav{
  visibility: hidden;
  position: absolute;
}

.burger_ul{
  position: absolute;
  top: -135px;
  width: 60px;
  background-color: black;
  border-radius: 8%;
  z-index: 99999999999999;
}

a{
  text-decoration: none;
  font-size:  20px;
  color: grey;
  line-height: 35px;
}

.link{
  display: inline-block;
}

li.nav_item{
  position: relative;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 20px;
  top: -62px;
  margin-left: 60px;
}

.content{
  outline: green 1px solid;
  height: 350px;
}

.block{
  display: inline-block;
  height: 200px;
  margin-top: 25px;
}

.img_box{
  height: 200px;
  margin-top: 25px;
  margin-left: 25px;
}

.txt_box_title{
  border-bottom: 1px solid grey;
}

.txt_box{
  height: 200px;
  margin-top: 25px;
  overflow: hidden;
  overflow: scroll;
}

.block_overlay{
  position: absolute;
  height: 125px;
  background-color: #000;
  width: 31.4%;
  bottom: 325px;
  opacity: .5;
  display: none;
}

footer{
  height: 75px;
  margin-top: 25px;
}

.footer_img{
  border: 1px solid transparent;
  border-radius: 50%;
  float: left;
  display: block;
  margin-top: 0 auto;
}



