.clear{
  clear: both;
}

body{
  background-image: url("../images/websitebackground.png");
}

header{
  position: relative;
}

nav{
  position: absolute;
  height: 150px;
  width: 100%;
  z-index: 99999999;
  background-color: black;
}

#desktop_nav{
  position: absolute;
}

/*mobile nav*/
#content {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: all 0.4s ease-in-out;
}

#content.translate {
  -webkit-transform: translate(200px, 0);
  -moz-transform: translate(200px, 0);
  -ms-transform: translate(200px, 0);
  -o-transform: translate(200px, 0);
  transform: translate(200px, 0);
}

#mobile-menu-icon {
  position: absolute;
  z-index: 9999999999;
  display: none;
  left: -24px;
  top: 20px;
}
#mobile-menu-icon:hover {
  cursor: pointer;
}

#mobile-menu-icon i {
  color: #fff;
}

#mobile-nav {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -200px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: #222;
  opacity: 0;
  transition: left 0.3s ease-in-out;
}
#mobile-nav.show {
  z-index: 200;
  opacity: 1;
  left: 0;
}
#mobile-nav.hide {
  left: -200px;
  transition: all 0.4s ease-in-out;
}

#mobile-nav ul {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  height: 100%;
  list-style-type: none;
}

#mobile-nav ul li {
  margin: 10px 0;
}

#mobile-nav ul li a {
  display: block;
  padding: 15px 10px 15px 45px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
#mobile-nav ul li a:hover {
  background-color: blueviolet;
}
/*end mobile nav*/

/*form stuff*/
input{
  outline: none;
  width: 100%;
}
input[type=text]{
  width: 154px;
}
input[type=password]{
  width: 154px;
}

button{
  outline: none;
  width: 100%;
}

#logo{
  border: none;
}
.login{
background-color: black;
opacity: .5;
}
.logout{
display: none;
}
/*end form stuff*/
.arrow_down {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  z-index: 1;
  position: relative;
  right: -896px;
  top:70px;
  margin-top: 10px;
  float: left;
  }

  .arrow_up {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid blueviolet;
  z-index: 1;
  position: relative;
  right: -896px;
  top:70px;
  margin-top: 10px;
  float: left;
  border-top: none;
  }

a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size:  20px;
  color: white;
  line-height: 35px;
}

a:hover{
color: blueviolet;
}

.link{
  display: inline-block;
    border-left: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    border-radius: 40%;
}

li.nav_item{
  position: relative;
  top: -62px;
  margin-left: 60px;
}

/*dropdown*/
 header nav ul li:not(.form_li):hover > ul:not(.login) {

  display: block;
  opacity: 1;
  visibility: visible;
}

 header nav ul li ul {
  width:50px;
  left: -27px;
  margin-top: -8px;
  visibility: hidden;
  position: absolute;
  z-index: 999999999999;
}

/*end dropdown*/
.login{
  left: -78px;
  margin-top: 10px;
  position: absolute;;
}

#logout{
  display: none;
  position: relative;
  top: -108px;
  left: 796px;
}

 .open{
  visibility: visible !important;
  display: block !important;
  width:164px;
}

.block{
  margin-top: 25px;
  height: 200px;
  color: white;
}

.img_box{
  height: 200px;
  margin-top: 25px;
}
h1{
    font-family: 'Raleway', sans-serif;
}

.txt_box_title{
  border-bottom: 1px solid black;
}

.txt_box{
  height: 200px;
  margin-top: 25px;
  overflow: hidden;
  overflow: scroll;
  color: white;
    font-family: 'Oswald', sans-serif;
}

.txt_box_overlay{
background-color: blue;
opacity: .1;
position: relative;
bottom: 195px;
right: -420px;
height: 200px;
z-index: -1;
box-shadow: blue  0px 20px 100px 20px;
  font-family: 'Oswald', sans-serif;
}

.block_overlay{
  position: absolute;
  height: 125px;
  background-color: blueviolet;
  width: 31.4%;
  bottom: 425px;
  opacity: .5;
  display: none;
    font-family: 'Oswald', sans-serif;
}

footer{
  height: 135px;
  margin-top: -53px;
  background-color: black;
}
h2{
  color: blueviolet;
}
.contact_block{
  position: absolute;
  color: white;
}
h3{
  color: blueviolet;
}
.footer_ul li{
  display: inline block;
  margin-right: 25px;
  float: left;
}

.footer_img{
  border: 1px solid transparent;
  border-radius: 50%;
}




/*tablet  meadia query's go here*/
@media screen and (max-width: 960px) {
.nav_item {margin-left: 25px !important; }
.footer_ul li{margin-right: 20px !important;}
}

@media screen and (max-width: 770px) {
.nav_item {display: none !important; }
nav{background-color: transparent !important;}
#mobile-menu-icon{display: block!important}
.footer_ul li{display: none;}

}

/*mobile media query's go here*/
@media screen and (max-width: 600px) {
  .nav_item {display: none!important; }
  #mobile-menu-icon{display: block!important}
  footer{margin-top: 50px !important;}
  .footer_ul{display: none !important;}
  .txt_box_overlay{display: none !important;}
  .block_overlay{visibility: hidden !important;}
  nav{ position: relative !important;}
  #desktop_nav{position: relative!important;}
.bx-wrapper{margin-top: 8px !important;}
nav{background-color:transparent !important;}


}