nav{
  outline: 1px red solid;
  height: 150px;
  margin-top: 25px;
}

li.link{
  display: inline-block;
}

.content{
  outline: green 1px solid;
  margin-top: 25px;
  height: 350px;
}

.block{
  display: inline-block;
  height: 200px;
  margin-top: 25px;
  outline: 1px solid blue;
}

.img_box{
  height: 200px;
  margin-top: 25px;
  margin-left: 25px;
  outline: orange 1px solid;
}

.txt_box{
  height: 200px;
  margin-top: 25px;
  outline: yellow 1px solid;
}

footer{
  height: 150px;
  margin-top: 25px;
  outline: 1px pink solid;
}



