

nav{
  position: relative;
}
.open{
  display: block;
}
.menu{
  margin-top: 5px;
  float: right;
}
.item{
  position: absolute;
}
.wire{
  position: absolute;
}
.bottom_wire{
  position: absolute;
}
.circle{
  position: absolute;
}

.wire1{
   background-color: gold;
  border-color: gold;
  border: 5px solid gold;
}
.bottom_wire1{
   background-color: gold;
  border-color: gold;
  border-bottom: 5px solid gold;
}
.circle1{
  height: 10px;
  width: 10px;
  background-color: gold;
  border-color: gold;
  border: 5px solid gold;
  border-radius: 50%;
}





